pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Parquet2",
						"type": "DatasetReference",
						"parameters": {
							"SistemaArchivos": "fsdiplomado",
							"Directorio": "Elizabeth"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DataFlowtoSQL",
									"type": "DataFlowReference",
									"parameters": {
										"SistemaArchivos": {
											"value": "'@{pipeline().parameters.SistemaArchivosPPEdu}'",
											"type": "Expression"
										},
										"DirectotioOrigen": {
											"value": "'Carlos/@{item()['name']}'",
											"type": "Expression"
										},
										"NombreArchivo": {
											"value": "'@{item()['name']}*.parquet'",
											"type": "Expression"
										},
										"EsquemaDestino": {
											"value": "'@{pipeline().parameters.EsquemaDestinoPPEdu}'",
											"type": "Expression"
										},
										"Nombretabla": {
											"value": "'Clean_@{item()['name']}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SistemaArchivosPPEdu": {
				"type": "string",
				"defaultValue": "'fsdiplomado'"
			},
			"EsquemaDestinoPPEdu": {
				"type": "string",
				"defaultValue": "'SalesLT'"
			}
		},
		"variables": {
			"Validacion": {
				"type": "String"
			}
		},
		"annotations": []
	}
}