pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataSetGetMetadata",
						"type": "DatasetReference",
						"parameters": {
							"SistemaDeArchivos": "fsdiplomado",
							"Directorio": "Elizabeth"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DataFlowToSQL",
									"type": "DataFlowReference",
									"parameters": {
										"SistemaDeArchivos": {
											"value": "'@{pipeline().parameters.SistemaDeArchivosPipe}'",
											"type": "Expression"
										},
										"DirectorioOrigen": {
											"value": "'@{Elizabeth/@(item()['name'])}'",
											"type": "Expression"
										},
										"NombreDeArchivo": {
											"value": "'@{(item()['name'])^.parquet}'",
											"type": "Expression"
										},
										"EsquemaDestino": {
											"value": "'@{pipeline().parameters.EsquemaDestinoPipe}'",
											"type": "Expression"
										},
										"NombreDeTabla": {
											"value": "'@{Clean_@(item()['name'])}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SistemaDeArchivosPipe": {
				"type": "string",
				"defaultValue": "fsdiplomado"
			},
			"EsquemaDestinoPipe": {
				"type": "string",
				"defaultValue": "'salesLT'"
			}
		},
		"variables": {
			"Validacion": {
				"type": "String"
			}
		},
		"annotations": []
	}
}